.vb-drop {
  width: 100%;
  height: 100%;
  background-color: #00ADEA;
  transition: background-color 100ms ease-out;
}

.vb-drop_dragover {
  background-color: #0084D4;
}

.vb-drop__content {
  height: 100%;
}

.vb-drop_dragover  {
  opacity: 0.4;
}
