.vb-video {
  height: 100%;
  width: 100%;
}

.vb-video__element {
  width: 100%;
  display: block;
  margin: 0;
}

.vb-video__cc {
  font-size: 2.5vw;
  text-align: center;
  position: fixed;
  padding: 30px 3%;
  left: 0;
  right: 20%;
  bottom: 0;
  z-index: 2;
  text-shadow: 1px 1px #000, -1px -1px #000, 0 0 2px #000;
}

@-moz-document url-prefix() {
  .vb-video__cc {
    display: none;
  }
}
