/* Hide browser's built-in subtitles */
video::cue {
  visibility: hidden;
  color: transparent;
}

::-webkit-media-controls-toggle-closed-captions-button,
::-webkit-media-text-track-container {
  display: none;
}
